/* -- s-hero-suporte -- */
.s-hero-suporte {
  border-bottom: 1px solid var(--neutral-100);
}
.s-hero-suporte .container {
  padding: 0.8rem 8rem;
}
.wrapper-suporte {
  justify-content: flex-start;
  gap: 2.4rem;
}
.suporte-content {
  gap: 12px;
}

/* -- Header -- */
header {
  background-color: #fff;
  height: 6.4rem;
}

/* header {
  position: fixed;
} */
header .container {
  padding: 1.6rem 8rem;
}
nav ul {
  gap: 3.2rem;
}

/* -- s-hero-home -- */
.s-hero-home {
  height: 68.6rem;
  background: url(../imgs/bg-s-home.webp) center/cover;
}

.s-hero-home .container {
  min-height: 100%;
  justify-content: space-between;
  padding: calc(4.8vw + 1rem) calc(4vw + 1rem) calc(0.7vw + 1rem);
}

.wrapper-text-home {
  display: inline-flex;
  justify-content: center;
  width: 60.1rem;
}
.wrapper-text-home p {
  width: 47.1rem;
  padding: 1.6rem 0 4.2rem;
}
.wrapper-branding {
  display: inline-flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 11rem;
  overflow-x: hidden;
  align-self: stretch;
  white-space: nowrap;
}
.branding-content {
  gap: 4rem;
  min-width: 100vh;
  white-space: nowrap;
  overflow: hidden;
}
.branding img {
  width: auto;
  max-width: 12rem;
  filter: opacity(0.55);
  flex-shrink: 0;
}
/* -- s-hero-mission -- */
.s-hero-mission {
  overflow-y: auto;
  height: 80rem;
  max-width: 100%;
  background: var(--Azul-25, #f3f4f6) url(../imgs/bg-s-mission.webp) left
    bottom/100% no-repeat;
}
.s-hero-mission .container {
  padding: 12rem 8rem 6.9rem;
  position: relative;
}
.wrapper-text-info {
  width: 65.7rem;
  max-width: 100%;
}

.wrapper-text-info h2,
.wrapper-text-info p {
  color: var(--Neutrals-700);
}
.wrapper-text-info p {
  width: 42.5rem;
  padding: 1.6rem 0 3.2rem;
}
.box-content-info {
  position: absolute;
  left: 49.2rem;
  top: 55rem;
  width: 28.5rem;
}
.title-description {
  color: var(--neutral-500);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 4rem;
}
.text-description {
  color: var(--Neutrals-900);
  font-size: 2rem;
  line-height: 140%;
}
.box-machine {
  position: absolute;
  right: 8rem;
  top: 12rem;
  width: 44.8rem;
  height: 59.1rem;
  border-radius: 3.2rem;
}
/* -- s-hero-services -- */
.s-hero-services .container {
  position: relative;
  padding: 11rem 20.5rem 8rem 8rem;
  padding: 8rem;
  background: url(../imgs/bg-s-service.webp) center/cover no-repeat;
}

.vetor-sinuous {
  position: absolute;
  height: 35.4rem;
  width: 39.6rem;
  top: -25rem;
  background-image: url(../imgs/sinuous-line.svg);
}

#slider-vertical {
  position: absolute;
  left: 6rem;
}
.s-hero-services .wrapper-text-info {
  width: 115.5rem;
  max-width: 100%;
  padding-left: 2rem;
}
.wrapper-text-info h2 span {
  color: var(--vermelho-500);
}

.feature-description {
  width: 43rem;
  padding: 19rem 0 0 3.3rem;
}

/* automação slider */

.s-hero-services .info-block {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.s-hero-services .info-block.reveal {
  opacity: 1;
}

#slider-vertical {
  transition: opacity 0.3s ease-in-out;
}
/* automação slider */
.info-block h5 {
  padding-bottom: 0.8rem;
  color: var(--neutral-500);
}
.info-block p {
  padding: 0;
  color: var(--Neutrals-900);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 130%;
}
.position-top {
  width: 42.9rem;
}

.position-middle {
  width: 36rem;
  padding: 7.25rem 0 10.85rem;
}

/* -- s-hero-about -- */
.s-hero-about {
  height: 86.4rem;
  background: url(../imgs/bg-s-about.webp) center/cover no-repeat;
}
.s-hero-about .container {
  position: relative;
  padding: 2.6rem 8rem 1.4rem;
}

.wrapper-content-slider {
  padding-top: 3.2rem;
}

.wrapper-content-slider h2 {
  padding: 0.8rem 0 2.5rem;
}

.wrapper-service-list {
  gap: 1.2rem;
  padding-bottom: 3.2rem;
}

.wrapper-content-slider p {
  color: var(--neutral-500);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
}
.s-hero-about .wrapper-text-info {
  width: 41.1rem;
}
#select-option-slider {
  position: absolute;
  z-index: -1;
  top: -4rem;
  left: -5.2rem;
}

.wrapper-segmented {
  z-index: 1;
  position: absolute;
  right: 10.8rem;
  bottom: 21rem;
  width: 58.6rem;
}
.qualified-pros p,
.tech-lab p,
.multi-brand p {
  padding-left: 1.6rem;
  font-weight: 500;
  color: var(--neutral-700);
}

/* -- s-hero-faq -- */

.s-hero-faq .container {
  padding: 0 8rem 12rem;
  gap: 13rem;
}
.wrapper-image-otdr {
  position: relative;
  height: 26.2rem;
  min-height: max-content;
  background-image: url(../imgs/image-OTDR.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.content-text-Otdr {
  padding-top: 0;
  position: absolute;
  width: 55rem;
  left: 6.4rem;
  top: 7.3rem;
}
.content-text-Otdr p {
  padding: 0;
  padding-bottom: 0.8rem;
}
.content-text-Otdr h3 {
  font-size: 3.2rem;
}
.wrapper-faq h2 {
  width: 25.5rem;
}
.wrapper-faq h5 {
  padding-bottom: 2rem;
}
.p-text-question {
  color: var(--neutral-500);
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
}
.suport-faq {
  display: flex;
}
.wrapper-questions {
  height: 29.1rem;
}
.row-questions {
  width: 90.8rem;
  border-bottom: 0.1rem solid var(--neutral-100);
  padding: 16px 0;
}
.row-questions p {
  width: 69.3rem;
  color: var(--Neutrals-900);
  font-weight: 500;
}
.row-questions img {
  cursor: pointer;
}
/* -- Footer -- */
footer {
  height: 26.1rem;
  background: var(--black) url(../imgs/bg-footer.webp) center/cover no-repeat;
}
footer .container {
  padding: 4.3rem 8rem 1.2rem;
  text-align: center;
}
.box-logo-footer {
  height: 7.4rem;
  width: 10.2rem;
}
.social-footer {
  width: 5.8rem;
  height: 2.4rem;
}
footer a,
footer p {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
}
.copyright,
.credits {
  font-weight: 400;
}
.credits span {
  opacity: 0.5;
}
