/* -- s-hero-suporte -- */
.s-hero-suporte {
  border-bottom: 1px solid var(--neutral-100);
}
.s-hero-suporte .container {
  padding: 8px 80px;
}
.wrapper-suporte {
  justify-content: flex-start;
  gap: 2.4rem;
}
.suporte-content {
  gap: 12px;
}

/* -- Header -- */
header {
  height: 6.4rem;
}
header .container {
  padding: 16px 80px;
}
nav ul {
  gap: 32px;
}
/* -- s-hero-home -- */
.s-hero-home {
  height: 686px;
  background: url(../imgs/bg-s-home.webp) center/cover;
}
/* .s-hero-home .container {
  padding: 64px 80px 23px;
} */

/* .s-hero-home .container {
  padding: calc(2vw + 1rem) calc(4vw + 1rem) calc(1vw + 1rem);
} */
.s-hero-home .container {
  min-height: 100%;
  justify-content: space-between;
  padding: calc(4.8vw + 1rem) calc(4vw + 1rem) calc(0.7vw + 1rem);
}

.wrapper-text-home {
  display: inline-flex;
  justify-content: center;
  width: 601px;
}
.wrapper-text-home p {
  width: 471px;
  padding: 1.6rem 0 4.2rem;
}
.wrapper-branding {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  margin-top: 11rem;
  overflow-x: hidden;
  align-self: stretch;
  white-space: nowrap;
}
.branding-content {
  gap: 40px;
  min-width: 100vh;
  white-space: nowrap;
  overflow: hidden;
}
.branding img {
  width: auto;
  max-width: 120px;
  filter: opacity(0.55);
  flex-shrink: 0;
}
/* -- s-hero-mission -- */
.s-hero-mission {
  overflow-y: auto;
  height: 800px;
  max-width: 100%;
  background: var(--Azul-25, #f3f4f6) url(../imgs/bg-s-mission.webp) left
    bottom/100% no-repeat;
}
.s-hero-mission .container {
  padding: 120px 80px 69px;
  position: relative;
}
.wrapper-text-info {
  width: 657px;
  max-width: 100%;
}

.wrapper-text-info h2,
.wrapper-text-info p {
  color: var(--Neutrals-700);
}
.wrapper-text-info p {
  width: 425px;
  padding: 1.6rem 0 3.2rem;
}
.box-content-info {
  position: absolute;
  left: 472px;
  top: 550px;
  width: 285px;
}
.title-description {
  color: var(--neutral-500);
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 4rem;
}
.text-description {
  color: var(--Neutrals-900);
  font-size: 20px;
  line-height: 140%;
}
.box-machine {
  position: absolute;
  right: 80px;
  top: 12rem;
  width: 448px;
  height: 591px;
  border-radius: 3.2rem;
}
/* -- s-hero-services -- */
.s-hero-services .container {
  position: relative;
  padding: 110px 205px 80px 80px;
  padding: 8rem;
  background: url(../imgs/bg-s-service.webp) center/cover no-repeat;
}

#vetor-sinous-services {
  position: absolute;
  top: 0;
}

#slider-vertical {
  position: absolute;
  left: 60px;
}
.s-hero-services .wrapper-text-info {
  width: 1155px;
  max-width: 100%;
  padding-left: 20px;
}
.wrapper-text-info h2 span {
  color: var(--vermelho-500);
}

.feature-description {
  width: 430px;
  padding: 190px 0 0 33px;
}
.info-block h5 {
  padding-bottom: 8px;
  color: var(--neutral-500);
}
.info-block p {
  padding: 0;
  color: var(--Neutrals-900);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 130%;
}
.position-top {
  width: 429px;
}

.position-middle {
  width: 360px;
  padding: 72.5px 0 108.5px;
}

/* -- s-hero-about -- */
.s-hero-about {
  height: 864px;
  background: url(../imgs/bg-s-about.webp) center/cover no-repeat;
}
.s-hero-about .container {
  position: relative;
  padding: 26px 80px 14px;
}

.wrapper-content-slider {
  padding-top: 3.2rem;
}

.wrapper-content-slider h2 {
  padding: 0.8rem 0 2.5rem;
}

.wrapper-service-list {
  gap: 12px;
  padding-bottom: 3.2rem;
}

.wrapper-content-slider p {
  color: var(--neutral-500);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.s-hero-about .wrapper-text-info {
  width: 411px;
}

.s-hero-about .wrapper-text-info {
  width: 411px;
}

#select-option-slider {
  position: absolute;
  z-index: -1;
  top: -40px;
  left: -52px;
}

.wrapper-segmented {
  z-index: 1;
  position: absolute;
  right: 108px;
  bottom: 210px;
  width: 586px;
}
.qualified-pros p,
.tech-lab p,
.multi-brand p {
  padding-left: 1.6rem;
  font-weight: 500;
  color: var(--neutral-700);
}

/* -- s-hero-faq -- */

.s-hero-faq .container {
  padding: 0 80px 120px;
  gap: 13rem;
}
.wrapper-image-otdr {
  position: relative;
  height: 262px;
  min-height: max-content;
  background-image: url(../imgs/image-OTDR.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.content-text-Otdr {
  padding-top: 0;
  position: absolute;
  width: 550px;
  left: 6.4rem;
  top: 7.3rem;
}
.content-text-Otdr p {
  padding: 0;
  padding-bottom: 0.8rem;
}
.content-text-Otdr h3 {
  font-size: 3.2rem;
}
.wrapper-faq h2 {
  width: 255px;
}
.wrapper-faq h5 {
  padding-bottom: 2rem;
}
.p-text-question {
  color: var(--neutral-500);
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 0.4rem;
}
.suport-faq {
  display: flex;
}
.wrapper-questions {
  height: 29.1rem;
}
.row-questions {
  width: 908px;
  border-bottom: 1px solid var(--neutral-100);
  padding: 16px 0;
}
.row-questions p {
  width: 693px;
  color: var(--Neutrals-900);
  font-weight: 500;
}
.row-questions img {
  cursor: pointer;
}
/* -- Footer -- */
footer {
  height: 261px;
  background: var(--black) url(../imgs/bg-footer.webp) center/cover no-repeat;
}
footer .container {
  padding: 43px 80px 12px;
  text-align: center;
}
.box-logo-footer {
  height: 7.4rem;
  width: 10.2rem;
  margin: 0 auto;
}
.social-footer {
  width: 58px;
  height: 24px;
}
footer a,
footer p {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}
.copyright,
.credits {
  font-weight: 400;
}
.credits span {
  opacity: 0.5;
}
